body {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

.data-hora {
    text-align: center;
}

#btn-dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
}

#div-btn-registrar-ponto {
    text-align: center;
}

.data-hora p {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-size: 3rem;
}

#btn-registrar-ponto, #btn-dialog-registrar-ponto {
    font-size: 1.5rem;
    padding: 25px;
    border: none;
    background-color: rgb(13, 0, 255);
    color: white;
    border-radius: 7px;
}

#btn-registrar-ponto:hover {
    background-color: #35b7e6;
}

#btn-registrar-ponto:active {
    background-color: #35b7e6;
}

#select-tipos-ponto {
    font-size: 1.5rem;
    padding: 25px;
}

#dialog-ponto p {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-size: 2rem;    
}

#btn-dialog-fechar {
    padding: 15px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.1rem;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

#div-alerta {
    background-color: green;
    color: white;
    padding: 15px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 7px;
}

.sidebar {
    width: 200px;
    height: 100vh; /* Ocupa toda a altura da viewport */
    background-color: white;
    padding: 15px;
    position: fixed;
    top: 0; /* Fixa no topo */
    left: -200px; /* Inicialmente escondido */
    transition: left 0.3s;
}

.menu-button {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    position: fixed; /*Muda para fixed*/
    top: 10px; /* Distância do topo */
    left: 30px; /* Distância da esquerda */
    z-index: 1;
    border-radius:5px ;
}

.menu-options button {
    width: 100%; /* Botões ocupam a largura */
    font-size: 1.5rem;
    padding: 15px; /* Espaçamento interno */
    margin: 10px 0; /* Espaçamento entre os botões */
    border: none;
    background-color: blue; /* cor de fundo */
    color: white; /* Cor do texto */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Efeito de transição */
}

.menu-options button:hover {
    background-color: #35b7e6; /* Cor ao passar o mouse */
}

.menu-options button:active {
    background-color: #092f5a; /* Cor ao clicar */
}

.sidebar.active {
    left: 0; /* Mostra o menu ao apertar*/
}

.sidebar.active .menu-options {
    display: block; /*Mostra as opções quando o menu está aberto*/
}
